<div class="whitepaper-bg">
  <div class="intro-text-hldr">
    <h1 style="color:black;">Final Score: {{((completedExam.score / 44) * 100) | number:0}} %</h1>
  </div>

  <div class="">
    <p ng-if="passStatus">Congratulations, your student <strong>Passed</strong> the exam and is considered competent for this clinical examination.</p>

    <p ng-if="!passStatus">Unfortunately the student did not score high enough to be considered competent in this examination. </p>

    <p></p>
  </div>

  <button class="btn btn-lg btn-secondary" ng-click="beginNewExam()">New Exam</button>
</div>
